################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

metadata/
v16/
bin/
obj/
shared/obj/
